.root {
  display: grid;
  row-gap: 16px;
  height: calc(100vh / 1.5);
  overflow-y: scroll;
  justify-content: center;
}

.item {
  display: inline-flex;
  align-items: center;
  column-gap: 12px;
  justify-content: flex-end;
}

.order {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
