.root {
  display: grid;
  place-items: flex-end;
  row-gap: 16px;
  margin-top: 80px;
}

.content {
  display: grid;
  row-gap: 16px;
  height: 470px;
  overflow-y: scroll;
  justify-content: center;
  width: 100%;
  border: 3px dashed transparent;
  grid-template-rows: repeat(auto-fill, minmax(min-content, 80px));
}

.order {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.spacer {
  width: 24px;
}

.hover {
  border-color: var(--interface--active);
  border-style: dashed;
  border-radius: 16px;
  opacity: 0.8;
}

.empty {
  border: 3px dashed var(--text--disabled);
  border-radius: 16px;
  width: 85%;
  margin: 0 auto;
  position: relative;

  &::after {
    content: "Перетащите ингредиенты";
    font-family: "Jet Brains Mono";
    font-size: 24px;
    font-weight: normal;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
  }
}
