.root {
  display: grid;
  align-items: center;
  grid-template-columns: max-content 1fr;
  column-gap: 8px;
  text-decoration: none;
  color: var(--text--primary-light-standart-text);
}

.inactive {
  transition: all ease .2s;
  color: var(--text--dark-grey-secondary-text);

  & svg {
    fill: var(--text--dark-grey-secondary-text);
  }

  &:hover {
    color: var(--text--primary-light-standart-text);
  }
}
