.root {
  display: grid;
  align-items: center;
  grid-template-columns: max-content 1fr;
  column-gap: 8px;
  text-decoration: none;
  color: var(--text--primary-light-standart-text);
  font-family: "JetBrains Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.inactive {
  color: var(--text--dark-grey-secondary-text);

  & svg {
    fill: var(--text--dark-grey-secondary-text);
  }
}
