.main {
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:24px;
}


.loaderContainer {
    position:absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
