.root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 180px;

  & form {
    text-align: center;
  }

  & a {
    text-decoration: none;
    margin-left: 6px;

    &:visited {
      color: blue;
    }
  }

  & .error {
    color: red;
  }
}
