.root {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='1' y='1' width='62' height='62' rx='31' fill='%23131316'/%3E%3Crect x='1' y='1' width='62' height='62' rx='31' stroke='url(%23paint0_linear_16791_3612)' stroke-width='2'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_16791_3612' x1='1.44676e-06' y1='64' x2='76.7401' y2='25.1941' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23801AB3'/%3E%3Cstop offset='1' stop-color='%234C4CFF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-origin: border-box;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  & > img {
    width: 100px;
    height: auto;
  }

  &::before {
    position: absolute;
    content: attr(data-count);
    font-family: 'Jet Brains Mono';
    font-size: 14px;
    line-height: 1.43;
    font-weight: normal;
  }
}

.root[data-count] img {
  opacity: 0.4;
}
